.round {
  border-radius: 100%;
}

.center-img {
  display: block;
  margin: auto;
}

.site-header {
  border-top: none;
}

.site-nav {
  z-index: 1;
}

blockquote {
  border-left: 0;
  padding-left: 0;
  text-align: center;
}

.site-nav .active {
  font-weight: bold;
}
