.main-header {
  background-image: url("../img/sunset.jpg");
  background-position: center center;
  background-repeat: no-repeat;

  width: 100%;
  height: 350px;

  position: relative;
}

.main-header h1 {
  position: absolute;
  bottom: 20px;
  right: 70px;
  color: white;
  text-shadow: 2px 2px 3px black;
  font-size: 46px;
}
